.explore__container {
  margin-bottom: var(--spacing_8x);
}

.explore__heading--container {
  margin-bottom: var(--spacing_4x);
}

.explore__heading--content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
