.browse__property {
  margin-bottom: var(--spacing_8x);
}

.heading__wrapper {
  margin-bottom: var(--spacing_4x);
}

.browse__heading--content {
  margin-top: var(--spacing_4x);
  display: flex;
  flex-direction: column;
}
